<div class="hero">
	<br />
	<div class="frosty col-10 offset-1 text-center">
		<br />
		<h1>Learn from the Best</h1>
		<br />
		<h2>I'm a real Pro</h2>
		<br />
		<%= link_to 'Learn More', '#', class: 'btn btn-primary' %>
		<br /><br />
	</div>
</div>

<br />

<div class="row feature text-center">
  <div class="col-12 col-sm">
    <h3>Feature 1</h3>
    <br />
    <p>This is the information of Feature 1</p>
  </div>

  <div class="col-12 col-sm">
    <h3>Feature 2</h3>
    <br />
    <p>This is the information of Feature 2</p>
  </div>

  <div class="col-12 col-sm">
    <h3>Feature 3</h3>
    <br />
    <p>This is the information of Feature 3</p>
  </div>
</div>